<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

  <bean id="ram" class="com.spring.Ram">
  <constructor-arg value="14"></constructor-arg>
  <property name="food" ref="food"></property>
  </bean>
  <bean id="food" class="com.spring.food">
  
  </bean>

 

</beans>